/* esto es lo basico de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222; /* Fondo */
    text-align: center; /* esto es para que los formularios de login y register esten centrados */ 
}
/* para que se aplique a todos los a */
a{
    color: white;
    text-decoration: none;
}
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #6174a5; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Logo */
.logo {
    height: 100px; /* Ajusta el tamaño del logo */
    border-radius: 40%;
}
/* NAVEGACIÓN */
nav{
    margin-left: 40px;
}
.botonesheader {
    display: flex;
    list-style: none;
}
.botonesheader li {
    margin-right: 20px;
}
.botonesheader a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*  LOGIN  y REGISTER*/
.iniciosesion {
    display: flex;
    gap: 15px;
}
.iniciosesion a {
   padding: 8px 10px ;
}
/* BARRA DE BÚSQUEDA */
form {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 5px;
    border-radius: 5px;
}
input {
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    width: 200px;
    color: white;  /* define el color cuando escribis en la barra de busqueda */
}
button {
    background-color: #737af7;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: #6174a5;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline; /*hace que todo quede en una misma linea */ 
    margin: 0 15px;
  }
   
  footer span {
    font-weight: bold;
  }

  main{
    margin-bottom: 40px;
  }

  .autoras{
    display: block; /* que salte a una nueva linea y ocupe el ancho disponible */
    margin-top: 10px; /*deja el espacio para el elemento de arriba */
    color: white; /*como todos los otros elementos son a, y define el color con a, solo hay q aplciarle a esto*/ 
  }
  
/* MAIN, IMAGENES */ 

.titulos{
    font-size: 30px;
    text-align: left; /* por defecto es left */
    color: #9297f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 40px;
    margin-left: 40px;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; /* por defecto es row */ 
    gap: 50px;
}

.principal img{
    width: 200px;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
}

.tituloPeli{
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 10px; /*lo separa de la imagen de arriba */
}

.estreno{
    font-size:14px ;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    color: white;
}

/* Login y registro */

.contenedor {
    display: inline-block; 
    margin-top: 30px; 
    margin-bottom: 40px;
    background-color: lightgray;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* esto para el contenedor de los botones */
.botones{
    display: flex;
    justify-content: center; /* centra los botones*/
    margin-top: 20px;
    gap: 10px ;  /* esto separa los botones */ }

/* esto para los botones en si */
.botones button{
    background-color: #8a90f4;
    color: white;
}

/* esto es para los titulos inicio sesion y registro */
.contenedor h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(19, 12, 12);
}
.campotexto{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(14, 2, 2);
}

/* esto para el cambio entre formularios */
.cambioformulario{
    color: #8a90f4;
    text-decoration: none;
    display: block; /* esto hace que se ignore la estrutura que tiene el link a, y asi se puede aplicar margenes  */
    margin-top: 20px ;
}

/* DETALLE PELICULAS Y SERIES*/
.detalle{
    color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.portada img{
    width: 300px;
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
}

.info{
    background-color: rgba(19, 54, 87, 0.574);
    width: 300px;
    border-radius: 10px;
    height: 400px;
    margin-top: 30px;
    padding:70px 20px ;
    text-align: justify;
}

/* para paginas generos peliculas y series */
.generos{
    font-size: 25px;
}

/* PAGINA RESULTADO BUSQUEDA */

.busqueda{
    color: white;
    font-size: 25px;
    text-align: center;
}

.lista-resultados {
    display: flex; /* Hace que los elementos estén en una fila */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas si no caben */
    gap: 20px; /* Espacio entre los elementos */
    list-style: none; /* Quita los estilos de lista */
}

.no-resultados {
    display: none; /* Ocultarlo por defecto */
    color: red;
}


/* RESPONSIVE PARA CELULARES */
@media (max-width: 420px) {
    .header {
        flex-direction: column;
        gap: 10px;
      }
    .titulos{
        margin: 10px 0;
        text-align: center;
    }
    .contenedor {
        margin: 30px 30px 30px 30px;
      }
    .detalle {
        flex-direction: column;
        align-items: center;
        gap: 15px;  /* para la distancia entre imagen y bloque texto */
      }
}