/* esto es lo basico de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/fondo\ estrellas.jpeg); /* Fondo */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #6174a5; 
}
/* Logo */
.logo {
    height: 60px; /* Ajusta el tamaño del logo */
    border-radius: 50% ; /* esto lo hace redondo*/
}
/* NAVEGACIÓN */
nav {
    margin-left: 40px;
}
.botonesheader {
    display: flex;
    list-style: none;
}
.botonesheader li {
    margin-right: 20px;
}
.botonesheader a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
/* Iconos en botones */
.botonesheader a::before {
    content: "🎬";
    margin-right: 8px;
}
/*  LOGIN / REGISTER*/
.iniciosesion {
    display: flex;
    gap: 15px;
}
.iniciosesion a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
}
.iniciosesion a:hover {
    background-color: #09bde5;
}
/* BARRA DE BÚSQUEDA */
form {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 5px;
    border-radius: 5px;
}
input {
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    color: white;
    width: 200px;
}
button {
    background-color: #4a53fb;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    background-color: #5beef1;
}
