/* esto es lo basico de la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222; /* Fondo */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
/* para que se aplique a todos los a */
a{
    text-decoration: none;
    color: white;  
}
li{
    list-style: none;
}
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #6174a5; 
    font-size: 18px;
}
/* Logo */
.logo {
    height: 100px; /* Ajusta el tamaño del logo */
    border-radius: 40%;
}
/* NAVEGACIÓN */
nav{
    margin-left: 40px;
}
.botonesheader {
   display: flex;
}
.botonesheader li {
    margin-right: 20px;
}

/*  LOGIN  y REGISTER*/
.iniciosesion {
    display: flex;
    justify-content: space-between;
}
.iniciosesion a {
   padding: 8px 10px ;
}
/* BARRA DE BÚSQUEDA */
form {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 5px;
    border-radius: 5px;
}
input {
    background: transparent;
    border: none;
    padding: 8px;
    width: 200px;
    color: white;  /* define el color cuando escribis en la barra de busqueda */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button {
    background-color: #737af7;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* FOOTER */
footer {
    background-color: #6174a5;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }

  footer ul li {
    display: inline; /*hace que todo quede en una misma linea */
    margin: 0 15px;
    color: white;
  }
   
  .autoras{
    display: block; /* que salte a una nueva linea y ocupe el ancho disponible */
    margin-top: 10px; /*deja el espacio para el elemento de arriba */
    font-weight: bold;
}
  
/* MAIN, IMAGENES */ 

.titulos{
    font-size: 30px;
    text-align: left; /* por defecto es left */
    color: #9297f5;
    margin-top: 40px;
    margin-left: 40px;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; /* por defecto es row */ 
    padding: 25px; /* Espacio extra alrededor  */
 }

.principal img{
    width: 200px;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 20px; 
}

.tituloPeli{
    text-align: center;
    font-size: 18px;
    margin-top: 10px; /*lo separa de la imagen de arriba */
}

.estreno{
    font-size:14px ;
    text-align: center;
    margin-top: 10px;
}

/* Login y registro */
.contenedor {
    display: inline-block; 
    margin-top: 30px; 
    margin-bottom: 40px;
    background-color:lightgrey;
    padding: 20px;
}

/* esto para el contenedor de los botones */
.botones{
    display: flex;
    justify-content:space-around; /* centra los botones*/
    margin-top: 20px;
}

/* esto para los botones en si */
.botones button{
    background-color: #8a90f4;
}

/* esto es para los titulos inicio sesion y registro */
.contenedor h2 {
    text-align: center;
    margin-bottom: 20px;
}
.contenedor{
    color: rgb(19, 12, 17) ;
}
.campotexto{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(59, 58, 58);
}

/* esto para el cambio entre formularios */
.cambioformulario{
    color: #8a90f4;
    text-decoration: none;
    display: block; /* esto hace que se ignore la estrutura que tiene el link a, y asi se puede aplicar margenes  */
    margin-top: 20px ;
}

/* DETALLE PELICULAS Y SERIES*/
.detalle{
    display: flex;
    justify-content: center;
}

.portada img{
    width: 300px;
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
}

.info{
    background-color: rgba(51, 90, 127, 0.574);
    width: 300px;
    border-radius: 10px;
    height: 400px;
    margin-top: 30px;
    padding:70px 20px ;
    text-align: justify;
}
/* para paginas generos peliculas y series */
.generos{
    font-size: 25px;   
}
/* PAGINA RESULTADO BUSQUEDA */
.busqueda{
    font-size: 25px;
    text-align: center;
}
.principal ul {
    display: flex; /* Hace que los elementos estén en una fila */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas si no caben */
    padding: 25px; /* Espacio entre los elementos */
    justify-content: center;
}

.no-resultados {
    display: none; /* Ocultarlo por defecto */
    color: red; /* que lo muestre en color rojo como alerta */
}



/* RESPONSIVE PARA CELULARES */
@media (max-width: 420px) {
    .header {
        flex-direction: column;
    }
    .botonesheader {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .botonesheader li{
        margin-right: 0;
    }
    nav{
        margin-left: 0;
    }
    .iniciosesion{
        flex-direction: column;
        align-items: center; 
    }
    .titulos{
        margin: 10px 0;
        text-align: center;
    }
    .contenedor {
        margin: 30px 30px 30px 30px;
      }
    .detalle {
        flex-direction: column;
        align-items: center;
      }  
}