body{
    padding: 0;
    margin: 0;
}

.padre{
    background-color: rgb(144, 67, 160);
    padding: 30px;
    height: 810px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
}

.hijos{
    background-color: rgb(108, 201, 215);
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hijos img{
    width: 160px;
    height: 160px;
}

.gato{
    order: 2;
    align-self: flex-end;
}

.shrek{
    align-items: center;
    order: 5;

}

.burro{
    align-self: center;
    order: 3;
}

.pinoccio{
    align-self: flex-start;
    order: 4;
}

.fiona{
    order: 1;
    align-self: stretch;
}
